<% layout("/layouts/bp") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Please Fill the form to continue exploring</h3>
            <form method="POST" action="/signup" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" placeholder="Add your name" type="text" class="form-control" id="username" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input name="email" placeholder="Add your Email" type="text" class="form-control" required>
                    <div class="valid-feedback">Email looks good</div>

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input name="password" placeholder="Add your Password" type="password" class="form-control" required>

                </div>
                <button class="btn btn-dark add-btn mt-3">Signup</button>
            </form>
        </div>
    </div>