body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* style.css */

.navbar {
    height: 5rem;
    background-color: #ffffff; /* Explicitly set a white background */
}

/* Styles the "WanderLust" brand link */
.navbar-brand {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the icon and text */
    gap: 0.5rem; /* Creates space between the icon and text */
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

/* General style for navigation links */
.nav-link {
    color: #222222 !important;
    font-weight: 500; /* Makes the font a little bolder */
    transition: color 0.2s ease-in-out; /* Smooth transition for hover */
}

/* Add a hover effect for better user experience */
.nav-link:hover {
    color: #fe424d !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-socials, .f-info-links, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Overlay */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding: 0;
}